<div class="panel panel-primary"
     ng-controller="ProductListCtrl as vm">
    <div class="panel-heading"
         style="font-size:large">
        Product List
    </div>

    <div class="panel-body">
        <table class="table">

            <thead>
                <tr>
                    <th><a ng-click="vm.changeSort('Description')">Product</a><span ng-show="vm.sortProperty == 'Description'"><i ng-show="vm.sortAscending" class="fa fa-arrow-up"></i><i ng-show="!vm.sortAscending" class="fa fa-arrow-down"></i></span></th>
                    <th><a ng-click="vm.changeSort('ProductCode')">Code</a></th>
                    <th>Available</th>
                    <th><a ng-click="vm.changeSort('Price')">Price</a><span ng-show="vm.sortProperty == 'Price'"><i ng-show="vm.sortAscending" class="fa fa-arrow-up"></i><i ng-show="!vm.sortAscending" class="fa fa-arrow-down"></i></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in vm.products">
                    <td>{{ product.productName}}</td>
                    <td>{{ product.productCode }}</td>
                    <td>{{ product.releaseDate | date }}</td>
                    <td>{{ product.price | currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>